/web/bundles/
/web/media/cache/*
!web/media/cache/.gitkeep
/web/upload/image/*
!web/upload/image/.gitkeep
/web/upload/file/*
!web/upload/file/.gitkeep
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
*.swp
tags
.DS_Store
