{% extends "DmThemeBundle::layout.html.twig" %}

{% block title %}访问未被授权{% endblock %}

{% block stylesheets %}
<link href="/bundles/dmtheme/metronic/css/error.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}
<body class="page-404-full-page">
    <div class="row">
        <div class="col-md-12 page-404">
            <div class="number font-red"> 403 </div>
            <div class="details">
                <h3>Oops! 未授权的访问.</h3>
                <p> 您没有访问该资源的权限，请联系系统管理员.
                <br/>
                <a href="javascript:history.go(-1)"> 返回上一页 </a> . </p>
            </div>
        </div>
    </div> 
</body>
{% endblock %}
