{% extends 'DmThemeBundle::layout.html.twig' %}

{% block global_stylesheets %}
{{ parent() }}
<link href="//vjs.zencdn.net/5.8/video-js.min.css" rel="stylesheet">
{% endblock %}

{% block global_scripts %}
{{ parent() }}
<script src="//vjs.zencdn.net/5.8/video.min.js"></script>
<script>
    var player = videojs('really-cool-video', { /* Options */ }, function() {
        console.log('Good to go!');

        this.play(); // if you don't trust autoplay for some reason

        // How about an event listener?
        this.on('ended', function() {
            console.log('awww...over so soon?');
        });
    });
</script>
{% endblock %}

{% block content_wrapper %}
<div class="row">
    <div class="col-md-12" style="height: 264px">
        <video id="really-cool-video" class="video-js vjs-default-skin" controls
            preload="auto" width="640" height="264" poster="really-cool-video-poster.jpg"
            data-setup='{}'>
            <source src="https://sancaiconvertedvedio.oss-cn-hangzhou.aliyuncs.com/media/video/480p/5df4254a6b014e8c99de7e243aeafc6e.mp4" type="video/mp4">
            <p class="vjs-no-js">
                that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
            </p>
        </video>
    </div>
</div>
{% endblock %}
